@tailwind base;
@tailwind components;
@tailwind utilities;




/* Add in a global CSS file like index.css */
.perspective {
    perspective: 1000px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  